<a href="https://colab.research.google.com/github/MichaelOblego/Numerical-Method-58011/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IF STATEMENT

In [1]:
a = 12
b = 100

if b>a:
  print("b is greater than a")

b is greater than a

#ELIF STATEMENT

In [2]:
a = 12
b = 12

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

#ELSE STATEMENT

In [3]:
a = 200
b = 33

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#SHORT HAND IF STATEMENT

In [4]:
a = 12
b = 100

if b>a: print("b is greater than a")

b is greater than a

#SHORT HAND IF ELSE

In [5]:
c = 35
d = 40

print("c is greater than d") if c>d else print("d is greater than c")

d is greater than c

#AND-BOTH CONDITIONS ARE TRUE (AND LOGIC)

In [6]:
a = 200
b = 33
c = 500

if a>b and c>a:
  print("At least one of the conditions is TRUE")

At least one of the conditions is TRUE

#IF ONE OF THE CONDITIONS IS TRUE (OR LOGIC)

In [7]:
if c>a or b>a:
  print("If one of the two operands is TRUE")

If one of the two operands is TRUE

#NESTED IF

In [8]:
x = int(input())

if x>10:
  print("Above 10")
if x>20:
  print("And also above 20!")
else:
  print("But not above 20.")

23
Above 10
And also above 20!

#APPLICATION 1

In [9]:
age = int(input())

if age>=18:
  print("QUALIFIED to vote")
else:
  print("NOT QUALIFIED to vote")

21
QUALIFIED to vote

#FOR - LOOP STATEMENT

In [21]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week: 
  print(x)

if x == "Thursday": 
  break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

SyntaxError: ignored

#THE BREAK STATEMENT

In [18]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week: 
  print(x)

  if x == "Thursday": 
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

#WHILE LOOP

In [22]:
y = 3

while y<6:
  print(y)
  if y == 3:
    break
  y += 1

3